.allProducts {
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: space-around;
  background-color: lightgrey;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.addproduct {
  width: 6rem;
  height: 3rem;
  background-color: lightseagreen;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
}
