.addProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.inputfield {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 3rem;
}

.inputbar {
  height: 3rem;
  border-radius: 0.5rem;
}

.property {
  font-size: large;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
