.navbar {
  display: flex;
  justify-content: center;
  font-size: larger;
  font-weight: 900;
  align-items: center;
  gap: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: whitesmoke;
  background-color: blueviolet;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
}
